<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>musician-details</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary" (click)="openModal(musician)">
        Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="musician">
  <ion-row>
    <ion-col class="content-col">
      <ion-thumbnail class="user-image">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" />
      </ion-thumbnail>
      <ion-text color="dark">
        <h2 class="user-name">{{musician.firstName}} {{musician.lastName}}</h2>
      </ion-text>

      <ion-list>
        <ion-item *ngIf="musician.phone">
          <ion-label position="stacked">Telephon</ion-label>
          <ion-input color="primary" readonly="true">{{musician.phone}}</ion-input>
        </ion-item>
        <ion-item *ngIf="musician.email">
          <ion-label position="stacked">Email</ion-label>
          <ion-input color="primary" readonly="true">{{musician.email}}</ion-input>
        </ion-item>
        <ion-item *ngIf="musician.streetAddress">
          <ion-label position="stacked">Adresse</ion-label>
          <ion-input color="primary" readonly="true">{{musician.streetAddress}}, {{musician.postalCode}}
            {{musician.city}}</ion-input>
        </ion-item>
        <ion-item *ngIf="musician.dateOfBirth">
          <ion-label position="stacked">Geburtstag</ion-label>
          <ion-input color="primary" readonly="true">{{musician.dateOfBirth}}</ion-input>
        </ion-item>

      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
