<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>Musiker Details</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary" (click)="openModal(musician)">
        Bearbeiten
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="musician">
  <ion-row>
    <ion-col class="content-col">
      <!-- Thumbnail of the musician -->
      <ion-thumbnail class="user-image">
        <img *ngIf="!musician.is_extern" src="assets/Steinbock_logo_small.png" alt="Musician image placeholder" />
        <img *ngIf="musician.is_extern" src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" alt="Extern musician placeholder" />
      </ion-thumbnail>

      <!-- Musician Title -->
      <ion-text color="dark">
        <h2>{{ musician.first_name }} {{ musician.last_name }}
          <span *ngIf="musician.is_extern" style="float: right;">extern</span>
        </h2>
      </ion-text>

      <!-- Musician Details List -->
      <ion-list>
        <ng-container *ngFor="let detail of musiciansDetails">
          <ion-item *ngIf="musician[detail.prop]">
<!--            <ion-label position="stacked">{{ detail.label }}</ion-label>-->
            <ion-input color="primary" readonly="true"
                       [value]="getFormattedValue(detail, musician)"
                       [label]="detail.label"
                       label-placement="floating"
            ></ion-input>
          </ion-item>
        </ng-container>
      </ion-list>
      <!-- Delete Instrument Button -->
      <ion-button color="danger" expand="block" (click)="deleteMusician(musician.id)">Musiker löschen</ion-button>

    </ion-col>
  </ion-row>
</ion-content>
