<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="closeModal()">
        <ion-icon size="large" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ instrument?.id ? 'Instrument aktualisieren' : 'Neues Instrument hinzufügen' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="submitForm()">
        {{ instrument?.id ? 'Speichern' : 'Speichern' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="instrumentForm" (ngSubmit)="submitForm()">
    <ion-item>{{inventoryLabel}}</ion-item>
    <ng-container *ngFor="let detail of instrumentDetails">
      <ion-item *ngIf="detail.type !== 'dropdown'">
        <ion-input [label]="detail.label"
                   [type]="detail.type"
                   formControlName="{{ detail.prop }}"
                   label-placement="floating">
        </ion-input>
      </ion-item>

      <!-- For dropdowns -->
      <ion-item *ngIf="detail.type === 'dropdown'">
        <ion-select [label]="detail.label"
                    formControlName="{{ detail.prop }}"
                    label-placement="floating"
                    interface="popover">
          <ion-select-option *ngFor="let option of getInstrumentOptions(detail)"
                             [value]="option.id"
          >
            {{ option.label }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ng-container>

    <!-- Any other non-generic components go here -->
  </form>

</ion-content>
