<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="closeModal()">
        <ion-icon size="large" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ instrument?.id ? 'Instrument aktualisieren' : 'Neues Instrument hinzufügen' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="submitForm()">
        {{ instrument?.id ? 'Speichern' : 'Speichern' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col class="content-col">
      <form [formGroup]="instrForm" (ngSubmit)="submitForm()">
        <ion-item>
          <ion-label>{{ inventoryLabel }}</ion-label>
        </ion-item>
        <!-- Instrument Type Dropdown -->
        <ion-item>
          <ion-select label="{{ InstrumentGermanLabels.instrumentType }}"
                      label-placement="floating"
                      formControlName="instrumentType"
                      interface="popover"
                      (ionChange)="onInstrumentTypeChange($event)">>
            <ion-select-option *ngFor="let type of instrumentTypes"
                               [value]="type.id">{{ type.label }}</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- labelAddition -->
        <ion-item>
          <ion-input label="{{ InstrumentGermanLabels.labelAddition }}" label-placement="floating"
                     formControlName="labelAddition"></ion-input>
        </ion-item>

        <!-- Serial Number -->
        <ion-item>
          <ion-input label="{{ InstrumentGermanLabels.serialNr }}" label-placement="floating"
                     formControlName="serialNr"></ion-input>
        </ion-item>

        <!-- Manufacturer -->
        <ion-item>
          <ion-input label="{{ InstrumentGermanLabels.manufacturer }}" label-placement="floating"
                     formControlName="manufacturer"></ion-input>
        </ion-item>

        <!-- Construction Year -->
        <ion-item>
          <ion-input label="{{ InstrumentGermanLabels.constructionYear }}" type="date" label-placement="floating"
                     formControlName="constructionYear"></ion-input>
        </ion-item>

        <!-- Acquisition Cost -->
        <ion-item>
          <ion-input type="number" min="0" label="{{ InstrumentGermanLabels.acquisitionCost }}"
                     label-placement="floating"
                     formControlName="acquisitionCost"></ion-input>
        </ion-item>

        <!-- Currency Dropdown -->
        <ion-item>
          <ion-select formControlName="currency"
                      label="{{ InstrumentGermanLabels.currency }}"
                      label-placement="floating"
                      interface="popover">
            <ion-select-option *ngFor="let currency of currencies"
                               [value]="currency.id">{{ currency.label }}</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Acquisition date -->
        <ion-item>
          <ion-input label="{{ InstrumentGermanLabels.acquisitionDate }}" type="date" label-placement="floating"
                     formControlName="acquisitionDate"></ion-input>
        </ion-item>

        <!-- distributor -->
        <ion-item>
          <ion-input label="{{ InstrumentGermanLabels.distributor }}" label-placement="floating"
                     formControlName="distributor"></ion-input>
        </ion-item>

        <!-- container -->
        <ion-item>
          <ion-input label="{{ InstrumentGermanLabels.container }}" label-placement="floating"
                     formControlName="container"></ion-input>
        </ion-item>

        <!-- owner -->
        <ion-item>
          <ion-input label="{{ InstrumentGermanLabels.owner }}" label-placement="floating"
                     formControlName="owner"></ion-input>
        </ion-item>

        <!-- particularities -->
        <ion-item>
          <ion-textarea label="{{ InstrumentGermanLabels.particularities }}" label-placement="floating"
                        formControlName="particularities"></ion-textarea>
        </ion-item>

        <!-- Notes -->
        <ion-item>
          <ion-textarea label="{{ InstrumentGermanLabels.notes }}" label-placement="floating"
                        formControlName="notes"></ion-textarea>
        </ion-item>


      </form>
    </ion-col>
  </ion-row>
</ion-content>
