<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="closeModal()">Close</ion-button>
    </ion-buttons>
    <ion-title>{{ musician?.id ? 'Update Musician' : 'Add New Musician' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="submitForm()">
        {{ musician?.id ? 'speichern' : 'speichern' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="musicianForm" (ngSubmit)="submitForm()">
        <ion-item>
            <ion-label>Externer Kontakt</ion-label>
            <ion-toggle formControlName="is_extern"></ion-toggle>
        </ion-item>
        <ng-container *ngFor="let detail of musicianDetails">
            <ion-item>
                <ion-label position="stacked">{{ detail.label }}</ion-label>
                <ion-input [type]="detail.type" formControlName="{{ detail.prop }}"></ion-input>
            </ion-item>
        </ng-container>

        <!-- You can add any other non-generic input components here, like Avatar upload, etc. -->
    </form>
</ion-content>

